body {
  background-color: #f0f3f5;
}
.resume ul,
.summary ul {
  list-style-type: none;
}
.resume a,
.summary a {
  color: #0d0d0d;
}
.resume h2 {
  margin: 7px 0 5px;
}
.resume #job-field {
  margin-top: -0.5em;
  margin-left: 12px;
  margin-bottom: 2px;
}
.resume .res-info {
  font-size: 1.2em;
  margin-bottom: 2px;
  margin-left: 12px;
}
.resume .sect-title {
  font-size: 1.1em;
  color: #280b0b;
}
.underline {
  padding-bottom: 2px;
  border: 0;
  border-bottom: 1px solid #e3e3e3;
  -webkit-border-image: -webkit-linear-gradient(85deg, #e3e3e3, #f0f3f5) 20 stretch;
  -moz-border-image: -moz-linear-gradient(85deg, #e3e3e3, #f0f3f5) 20 stretch;
  -o-border-image: -o-linear-gradient(85deg, #e3e3e3, #f0f3f5) 20 stretch;
  border-image: linear-gradient(5deg, #e3e3e3, #f0f3f5) 20 stretch;
}
#resume {
  padding-left: 1.5em;
  padding-right: 2em;
  padding-bottom: 2em;
}
#resume dt {
  width: 110px;
}
#resume dd {
  margin-left: 130px;
  padding-top: 1px;
}
#skills ul,
#frameworks ul {
  font-size: 1.2em;
  max-width: 1000px;
}
#summary {
  background-color: #eef3f7;
  -webkit-box-shadow: -2px 2px 3px 2px #96a2a3;
  -moz-box-shadow: -2px 2px 3px 2px #96a2a3;
  box-shadow: -2px 2px 3px 2px #96a2a3;
}
.summary .user-info {
  font-size: 1.2em;
}
.summary .repo-name {
  font-size: 1.2em;
  vertical-align: middle;
  margin-right: 4px;
}
.summary .stats {
  display: inline;
}
.summary .stats span {
  margin: 0 1px;
  color: #4d4d4d;
}
.summary .stats .glyphicon {
  margin-right: 1px;
}
@media (min-width: 1200px) and (max-width: 1410px) {
  .status {
    display: block;
  }
}
.non-content {
  margin: 0;
  padding: 0;
}
.reactive-list {
  overflow: hidden;
}
.reactive-list li {
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .reactive-list li {
    width: 49%;
  }
}
@media (min-width: 992px) {
  .reactive-list li {
    width: 33%;
  }
}
